/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.bg-hero {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url('/images/home/hero.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
