/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  overflow-x: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.bg-hero {
  position: relative;
  width: 100%;
  height: 85vh; /* Default height */
  background-image: url('/images/home/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center;  */
}

/* Adjust height for smaller screens */
@media (max-width: 1024px) {
  .bg-hero {
    height: 75vh;
  }
}

@media (min-width:786) and (max-width:1024px)
{
  .bg-hero{
    background-position: center;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .bg-hero {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .bg-hero {
    height: 50vh; /* Reduce height on smaller screens */
    background-position: top center; /* Adjust focus for mobile */
  }
}





@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
